:root{
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --radius: 0.2rem;
}

*,*:before,*:after{
  box-sizing: border-box;
}


.nav-list{
    background: var(--clr-primary);
    box-shadow: 0 0 10px var(--clr-gray100);
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 2rem;
}

.nav-item a{
  text-decoration: none;
  color: black;
}

.nav-item:first-child{
  margin-right: auto;
  margin-left: 2rem;
}

body{
  font-family: Bahnschrift;
  background: var(--clr-gray100);
    margin: 0;
    padding: 0;
}
.logo{
    height: 35px;
}
.row{
    display: flex;
    justify-content:center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #04AA6D;
}

.search_right{
    color: white;
    background: brown;
    flex:1;
}
.button--search{
    color: black;
    background-color: #f1f1f1;
    border: 5px solid transparent;
    transition: .2s ease;
    border-radius: 50px;
}
input[type=text]{
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}
img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.container-xxl{
    background: #cfd8dc;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.me-0 {
    margin-right: 0 !important;
}

.me-3{
    margin-right: 1rem !important;
}
.job-left{
    display: flex;
    flex-direction: row;
    justify-content: left;
}