/* Bordered form */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bahnschrift, serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;

}

form {
    border: 3px solid #cccccc;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .logincontainer{
    padding: 10% 15%;
  }

  /* Full-width inputs */
  input[type=text], input[type=password], select, input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 12px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  .button--color-red{
    background-color: rgb(190, 62, 62);
    text-decoration: none;
    background-size: 50%;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  .button--color-red:hover{
    text-decoration: none;
    opacity: 0.8;
    color: white;
  }


  /* Center the avatar image inside this container */
  .imgcontainer {
    padding-top: 25px;
    text-align: center;
    display: block;
  }

  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  /* The "Forgot password" text */
  span.password {
    float: right;
    padding-top: 16px;
  }
  footer{
    display: block;
  }

  select {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .message-error{
    color: red;
  }
  .error{
    color: red;
    margin-bottom: 10px;
  }
  .text{
    width: 50px;
  }